# 1. **Set a number of runners in `X/Y` format.** For example, 2 runners would mean saving `"1/2"`, `"2/2"`, for later. (Job: "generate_runner_variables")
# 2. **Restore the same load balancer main map file from a persisted location, that will be used for every run attempt.** (Jobs: needed for "cypress_run_e2e" for accurate balancing, and "merge_cypress_load_balancing_maps" for saving results)
# 3. **Execute each Cypress `run` process in parallel using the `runner` variables.** ("cypress_run_e2e")
# 4. **Wait for each Cypress process to fully complete.**
# 5. **Collect the load balancing maps from each completed runner process.** ("merge_cypress_load_balancing_maps")
# 6. **Merge the temporary maps back to the original load balancing map.** ("merge_cypress_load_balancing_maps")
# 7. **Save the updated main load balancing map back to its persisted location.** ("merge_cypress_load_balancing_maps")
name: Example workflow | Load balancing of Cypress E2E tests

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      runner_count:
        type: number
        description: Number of runners to use for parallelization
        required: false
        default: 4
      DEBUG:
        type: choice
        description: Enables debugging on the job and on the cypress-load-balancer script.
        options:
          - ""
          - "*"
          - "cypress-load-balancer"

env:
  runner_count: ${{ inputs.runner_count || 4 }}

jobs:
  # This job exists so that if any testing jobs fail, or the same workflow needs to be re-run, then the testing jobs
  # will contain the same set testing files for all new run attempts of this workflow. This is necessary to ensure
  # that the balancing occurs for the timings of files on its first run attempt as well as for all new run attempts,
  # and will not consider any new timings until a new instance of the workflow is run.
  save_original_map_for_all_attempts:
    name: Save the original map to cache to use on all future run attempts of this workflow
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Check if ORIGINAL map exists, and if not, restore cache of the map from previous workflow runs
        id: check-if-original-map-exists
        uses: actions/cache/restore@v4
        with:
          fail-on-cache-miss: false
          path: .cypress_load_balancer/spec-map.json
          key: cypress-load-balancer-map-${{ github.head_ref || github.ref_name }}-${{ github.run_id }}-ORIGINAL
          ## Static restore key:
          ## - "ORIGINAL" key from first run attempt, which is used for all future run attempts
          # Extra restore keys in order, if static is not hit:
          ## - Key from this current branch
          ## - Key from base branch or default branch; in this case, default branch is "main" (GitHub Actions does not provide a way to get the default_branch name easily)
          restore-keys: |
            cypress-load-balancer-map-${{ github.head_ref || github.ref_name }}-
            cypress-load-balancer-map-${{ github.base_ref || 'main' }}

      - uses: actions/setup-node@v4
        if: ${{ hashFiles('.cypress_load_balancer/**/spec-map.json') == '' }}
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Initialize "ORIGINAL" map, if not currently existing
        if: ${{ hashFiles('.cypress_load_balancer/**/spec-map.json') == '' }}
        run: |
          yarn install
          yarn build
          npx cypress-load-balancer initialize

      - name: Cache "ORIGINAL" map for all future run attempts on cache miss
        if: ${{ steps.check-if-original-map-exists.outputs.cache-hit != 'true' }}
        uses: actions/cache/save@v4
        with:
          key: cypress-load-balancer-map-${{ github.head_ref || github.ref_name }}-${{ github.run_id }}-ORIGINAL
          path: .cypress_load_balancer/spec-map.json

  generate_runner_variables:
    runs-on: ubuntu-22.04
    outputs:
      runner-variables: ${{ steps.generate-runners.outputs.runner-variables }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      # "yarn build" is only needed for this project to build the CLI ! It shouldn't be required in other projects as the CLI scripts should be installed normally
      - name: Install dependencies
        run: |
          yarn install
          yarn build

      - id: generate-runners
        run: npx cypress-load-balancer generate-runners ${{ inputs.runner_count || env.runner_count }} --gha

  cypress_run_e2e:
    runs-on: ubuntu-22.04
    needs: [save_original_map_for_all_attempts, generate_runner_variables]
    strategy:
      fail-fast: false
      matrix:
        runner: ${{ fromJson(needs.generate_runner_variables.outputs.runner-variables) }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Restore ORIGINAL load-balancing map for this run attempt
        uses: actions/cache/restore@v4
        with:
          fail-on-cache-miss: true
          path: .cypress_load_balancer/spec-map.json
          key: cypress-load-balancer-map-${{ github.head_ref || github.ref_name }}-${{ github.run_id }}-ORIGINAL

      - name: Cypress e2e tests (${{ matrix.runner }})
        uses: cypress-io/github-action@v6
        with:
          browser: electron
          # Fix for https://github.com/cypress-io/github-action/issues/480
          config: videosFolder=/tmp/cypress-videos
        env:
          CYPRESS_runner: ${{ matrix.runner }}
          DEBUG: ${{ inputs.DEBUG || '' }}

      - name: Upload temp load balancer map
        if: (!cancelled())
        uses: actions/upload-artifact@v4
        with:
          # Artifacts cannot be saved with a forward slash ( / ), so using runner.name as it is unique
          name: spec-map-${{ runner.name }}
          path: .cypress_load_balancer/spec-map-*.json
          include-hidden-files: true
          if-no-files-found: "error"

  merge_cypress_load_balancing_maps:
    runs-on: ubuntu-22.04
    needs: [cypress_run_e2e]
    if: (!cancelled())
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - run: |
          yarn install
          yarn build

      - name: Restore cached load-balancing map
        id: cache-restore-load-balancing-map
        uses: actions/cache/restore@v4
        with:
          fail-on-cache-miss: false
          path: .cypress_load_balancer/spec-map.json
          # Save with key for this current run attempt
          key: cypress-load-balancer-map-${{ github.head_ref || github.ref_name }}-${{ github.run_id }}-${{ github.run_attempt }}
          # Restore keys:
          ## 1. Key for the ORIGINAL map for this run attempt
          ## 2. Key from the head ref/current branch
          ## 3. Key from base ref/default branch
          restore-keys: |
            cypress-load-balancer-map-${{ github.head_ref ||  github.ref_name }}-${{ github.run_id }}-ORIGINAL
            cypress-load-balancer-map-${{ github.head_ref || github.ref_name }}-
            cypress-load-balancer-map-${{ github.base_ref || 'main' }}-

      - name: If no map exists for either the base branch or the current branch, then initialize one
        id: initialize-map
        run: npx cypress-load-balancer initialize
        if: ${{ hashFiles('.cypress_load_balancer/spec-map.json') == '' }}

      - name: Download temp maps
        uses: actions/download-artifact@v4
        with:
          pattern: spec-map-*
          path: temp
          merge-multiple: false

      - name: Merge files
        run: npx cypress-load-balancer merge -G "./temp/**/spec-map-*.json" --HE error

      - name: Save overwritten cached load-balancing map
        id: cache-save-load-balancing-map
        uses: actions/cache/save@v4
        with:
          #This saves to the workflow run. To save to the base branch during pull requests, this needs to be uploaded on merge using a separate action
          # @see `./save-map-on-to-base-branch-on-pr-merge.yml`
          key: cypress-load-balancer-map-${{ github.head_ref || github.ref_name }}-${{ github.run_id }}-${{ github.run_attempt }}
          path: .cypress_load_balancer/spec-map.json

      # This is to get around the issue of not being able to access cache on the base_ref for a PR.
      # We can use this to download it in another workflow run: https://github.com/dawidd6/action-download-artifact
      # That way, we can merge the source (head) branch's load balancer map to the target (base) branch.
      - name: Upload main load balancer map
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-load-balancer-map
          path: .cypress_load_balancer/spec-map.json
